.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: rgba(26, 26, 26, 0.8);
  color: white;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  transition: background-color 0.3s;
  z-index: 1000;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.first-word {
  color: #4db5ff;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.icon-bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px;
  transition: 0.3s;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.nav-link:hover {
  color: #4db5ff;
}

.nav-link:after {
  content: '';
  display: block;
  height: 2px;
  background-color: #3498db;
  width: 0;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav-link:hover:after {
  width: 100%;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 5px;
  width: 100%;
  background-color: rgba(26, 26, 26, 0.866);
  backdrop-filter: blur(15px);
  padding: 20px 0;
  transition: all 0.5s ease;
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
